ul{
    width: fit-content;
    position: absolute;
}

li{
    /* ta bort default */
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    background-color: yellow;
    margin:5px;
    padding: 3px;

}



a{
    text-decoration: none;
}

.under{
    display: none;
    white-space: nowrap;

}

ul:hover .under{
    background-color: brown;
    display:block; 
 }