body {
 display:flex;
 justify-content: center;
}

.stor{
display:flex;
flex-direction: column;
width:96vw;
background-color: aqua;
padding: 10px;


}


.liten{
background-color: brown;
border-style: solid;
border-width: 3px;
border-color: yellow;

}

.white_blue{
     background-color: white;
     border-color: blue;
}

/* If screen size is more than 1024px wide */
@media screen and (min-width: 1024px) {
    .stor {
        flex-direction: row;
        width:60vw;
       
    }
  }